.button {
	width: 100%;
	background-color: var(--button-bg);
	padding: var(--button-padding);

	font-size: var(--button-font-size);
	color: var(--button-color);

	border-radius: var(--button-border-radius);
	border: none;

	transition: background-color 0.15s ease-in-out;

	&:hover {
		background-color: var(--color-violet-5);
	}
}
