.react-input-emoji--input {
	padding: 1.2rem 2.2rem;
	font-family: var(--primary-font);
	font-size: 1.4rme;
	background-color: rgba(230, 235, 245, 0.25) !important;
}

.react-input-emoji--button--icon {
	fill: var(--color-violet-2) !important;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: 1rem;
}
