.tab {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7269ef;
	cursor: pointer;
	height: 5.6rem;

	&:not(:last-child) {
		margin-bottom: 2rem;

		@include respond(lg) {
			margin-bottom: 0;
		}
	}

	&__item {
		padding: 1.5rem;
		border-radius: 0.4rem;
	}

	&__link {
		padding: 1.5rem;
		border-radius: var(--tab-border-radius);

		&--active {
			background-color: var(--tab-active-color);

			svg {
				fill: var(--tab-active-icon-fill-color);
			}
		}
	}

	svg {
		width: 2.4rem;
		height: 2.4rem;
	}
}
