.heading {
	color: var(--heading-color);

	&__h1 {
		font-size: var(--heading-h1-font-size);
		font-weight: 500;
	}

	&__h2 {
		font-size: var(--heading-h2-font-size);
	}

	&__h3 {
		font-size: var(--heading-h3-font-size);
	}
}
