.timestamp {
	color: var(--timestamp-color);
	display: flex;
	align-items: center;
	gap: 2px;

	small {
		font-size: var(--timestamp-font-size);
	}

	svg {
		width: 1.2rem;
		height: 1.2rem;
		fill: var(--timestamp-color);
	}
}
