*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	transition: color 0.15s ease, background-color 0.15s ease, fill 0.15s ease,
		border-color 0.15s ease;
}

html {
	font-size: 62.5%; // 1rem = 10px
	overflow: hidden;

	@include respond(lg) {
		font-size: 50%; // 1rem = 10px
	}
}

body {
	font-size: 16px;
	font-family: var(--primary-font);
	box-sizing: border-box;
	overflow: hidden;
	background-color: var(--body-bg);
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
}

button,
input,
textarea {
	font-family: inherit;
	outline: none;
}

button {
	cursor: pointer;
}

.theme-light {
	--light-mode: var(--ON);
	--dark-mode: var(--OFF);
}

.theme-dark {
	--light-mode: var(--OFF);
	--dark-mode: var(--ON);
}
