:root {
	// FONT
	--primary-font: "Public Sans", sans-serif;

	// LAYOUT
	--doc-height: 100vh;
	--row-width: 1140px;

	// COLORS
	--color-white-1: #ffffff;
	--color-white-2: #f7f7f7;
	--color-white-3: #f5f7fb;
	--color-white-4: #f0eff5;
	--color-white-5: #e1e9f1;
	--color-white-6: #eff2f7;

	--color-black-1: #000000;
	--color-black-2: #495057;
	--color-black-3: #343a40;
	--color-black-4: #3e4a56;
	--color-black-5: #303841;
	--color-black-6: #262e35;
	--color-black-7: #36404a;
	--color-black-8: #272c3b;
	--color-black-9: #2b3141;

	--color-grey-1: #e6ebf5;
	--color-grey-2: #ffffff80;
	--color-grey-3: #adb5bd;
	--color-grey-4: #a2adb7;
	--color-grey-5: #9aa1b9;
	--color-grey-6: #abb4d2;
	--color-grey-7: #878a92;
	--color-grey-8: #a6b0cf;
	--color-grey-9: #f7f7ff;

	--color-violet-1: #7a7f9a;
	--color-violet-2: #7269ef;
	--color-violet-3: #7269ef40;
	--color-violet-4: #ef476f2e;
	--color-violet-5: #6159cb;

	--color-green-1: #06d6a0;
	--color-green-2: #048060;
	--color-green-3: #cdf7ec;
	--color-green-4: #b4f3e3;

	--color-pink-1: #ef476f;
	--color-yellow-2: #ffd166;

	// MARGINS
	--margin-xtra-small: 0.8rem;
	--margin-small: 1rem;
	--margin-medium: 2.4rem;
	--margin-lg: 4.8rem;

	// HEADING
	---h1-font-size: 2.1rem;
	---h2-font-size: 1.6rem;
	---h3-font-size: 1.5rem;

	// BUTTON
	--button-bg: var(--color-violet-2);
	--button-color: var(--color-white-1);
	--button-icon-fill: var(--color-white-1);
	--button-padding: 1.2rem;
	--button-font-size: 1.5rem;
	--button-border-radius: 0.4rem;

	// LOGIN
	--login-bg: var(--color-grey-9);

	// LABEL
	--label-color: var(--color-black-2);
	--label-font-size: 1.5rem;
	--label-font-weight: 500;
	--label-border-radius: 0.4rem;
	--label-info-color: var(--color-violet-1);
	--label-info-font-size: 1.3rem;

	// INPUT
	--input-color: var(--color-black-2);
	--input-bg: rgba(230, 235, 245, 0.25);
	--input-border-color: var(--color-grey-1);
	--input-font-size: 1.4rem;

	// FORM INPUT
	--form-input-bg: var(--color-grey-1);
	--form-input-color: var(--color-black-2);
	--form-input-border-color: var(--color-grey-1);
	--form-input-icon-fill: var(--color-violet-1);

	// COPYRIGHT
	--copyright-icon-fill: var(--color-pink-1);
	--copyright-text-color: var(--color-black-2);
	--copyright-font-size: 1.5rem;

	// SIDE NAVIGATION
	--sidebar-navigation-bg: var(--color-white-1);
	--sidebar-content-bg: var(--color-white-3);

	// TABS
	--tab-active-color: var(--color-grey-9);
	--tab-border-radius: 0.8rem;
	--tab-icon-fill-color: var(--color-grey-7);
	--tab-active-icon-fill-color: var(--color-violet-2);

	// TOOLTIP
	--tooltip-bg: var(--color-black-6);
	--tooltip-color: var(--color-white-2);

	// PROFILE
	--profile-icon-color: var(--color-violet-1);

	// STATUS
	--status-border-color: var(--color-white-1);
	--status-color: var(--color-violet-1);
	--status-online-color: var(--color-green-1);
	--status-offline-color: var(--color-yellow-2);

	// ACCORDIAN
	--accordian-header-bg: var(--color-white-1);
	--accordian-color: var(--color-black-2);
	--accordian-icon-color: var(--color-black-2);
	--accordian-content-bg: var(--color-white-1);
	--accordian-border-color: var(--color-white-4);

	// PERSONAL DETAILS
	--personal-details-label-color: var(--color-violet-1);
	--personal-details-label-font-size: 1.5rem;
	--personal-details-value-color: var(--color-black-2);
	--personal-details-value-font-size: 1.4rem;
	--personal-details-value-font-weight: 600;

	// ATTACHMENT
	--attachment-border-color: var(--color-white-4);
	--attachment-padding: 0.8rem;
	--attachment-name-color: var(--color-black-2);
	--attachment-size-color: var(--color-violet-1);

	//SEARCH
	--search-input-bg: var(--color-grey-1);
	--search-input-color: var(--color-black-2);
	--search-input-border-radius: 0.5rem;
	--search-icons-color: var(--color-violet-1);

	// USER CARD
	--user-card-active-bg: var(--color-grey-1);
	--user-card-active-color: var(--color-violet-1);

	// TIMESTAMP
	--timestamp-color: var(--color-violet-1);
	--timestamp-font-size: 1.1rem;

	//CONTACT GROUP
	--contact-group-initial-color: rgb(114, 105, 239);
	--contact-group-font-size: 1.5rem;
	--contact-group-font-weight: 700;

	//CONTACT
	--contact-font-color: var(--color-black-2);
	--contact-font-size: 1.4rem;
	--contact-font-weight: 600;
}
