.attachment {
	display: flex;
	align-items: center;
	gap: 2.4rem;

	border: 1px solid var(--attachment-border-color);
	padding: var(--attachment-padding);
	border-radius: 4px;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	&__file {
		width: 4.8rem;
		height: 4.8rem;
		background-color: rgba(114, 105, 239, 0.25);
		border-radius: 4px;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__file-icon {
		svg {
			fill: rgb(114, 105, 239);
			width: 2rem;
			height: 2rem;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	&__name {
		font-size: 1.4rem;
		font-weight: 600;
		color: var(--attachment-name-color);
	}

	&__size {
		font-size: 1.3rem;
		color: var(--attachment-size-color);
	}

	&__actions {
		display: flex;
		align-items: center;
		gap: 1.4rem;
	}

	&__icon {
		svg {
			width: 1.8rem;
			height: 1.8rem;
			fill: var(--color-violet-1);
		}
	}
}
