.chat-body {
	flex: 1;
	padding: var(--chat-body-padding);
	border-bottom: 1px solid var(--chat-body-border-color);

	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		visibility: hidden;
		background-color: var(--color-grey-3);
		border-radius: 1rem;
	}

	&:hover {
		&::-webkit-scrollbar-thumb {
			visibility: visible;
		}
	}
}
